// $primary: #b11113;
$primary: #f75e5e;
$text: rgb(120, 118, 121);
$shadow: rgb(204, 203, 203);
$appGreen: rgb(16, 180, 57);
$bgactive: #fccece;
$hover: #fceded;
$searchBackground: #fbfbfb;
$toolBar: #efefef;
$footerInput: #faf1f1;