    ._2HFg5 {
        left: 0;
    }
    ._2HFg5 {
        position: absolute;
        top: 0;
        width: 100%;
    }
    ._1JbDr {
        left: 0;
        border-left: 1px solid #e4e4e4;
    }
    ._1JbDr {
        bottom: 0px;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
    }
    ._1vDUw {
        position: relative;
    }
    ._3ZkhL {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }
    ._3ZkhL {
        height: 320px;
        overflow: hidden;
    }
    ._1qUma {
        background-color: #f0f0f0;
    }
    ._1qUma {
        position: relative;
        height: 44px;
        -webkit-flex: none;
        flex: none;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        z-index: 300;
        color: #BFC3C4;
    }
    ._1Wbpa {
        left: 0;
    }
    ._1Wbpa {
        background-color: #009688;
    }
    ._1Wbpa {
        position: absolute;
        opacity: 1;
        bottom: 0;
        height: 4px;
        transition: opacity 0.3s cubic-bezier(0.1, 0.82, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.1, 0.82, 0.25, 1);
        transition: transform 0.3s cubic-bezier(0.1, 0.82, 0.25, 1), opacity 0.3s cubic-bezier(0.1, 0.82, 0.25, 1);
        transition: transform 0.3s cubic-bezier(0.1, 0.82, 0.25, 1), opacity 0.3s cubic-bezier(0.1, 0.82, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.1, 0.82, 0.25, 1);
    }
    .GclUX {
        padding: 0 4px;
    }
    ._2DzXb {
        color: #009688;
    }
    .GclUX {
        box-sizing: border-box;
        color: #929fa6;
        -webkit-flex: 1;
        flex: 1;
        font-size: 13px;
        overflow: hidden;
        text-transform: uppercase;
    }
    .l90LN {
        display: -webkit-flex;
        display: flex;
        height: 44px;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    [role="button"] {
        cursor: pointer;
    }

    ._3tlsa {
        background-color: #f0f0f0;
    }
    ._3tlsa {
        position: relative;
    }

    ._2rR_l {
        left: 0;
        right: 6px;
    }
    ._2rR_l {
        padding: 6px 12px;
        background-color: #f0f0f0;
    }
    ._2rR_l {
        position: absolute;
        top: 0;
        z-index: 200;
    }

    ._2vjPO {
        border-radius: 5px;
        background-color: #e0e1e2;
    }
    ._2vjPO {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
    }
    ._24k3z {
        padding: 10px 12px;
    }
    ._24k3z {
        transition: height .18s ease-in-out;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    ._2U5s1 {
        text-align: left;
    }
    ._2U5s1 {
        background: inherit;
        padding: 0;
        border: none;
    }
    ._2U5s1 {
        font-size: 15px;
        z-index: 1;
        line-height: 20px;
        min-height: 20px;
        width: 100%;
        outline: none;
        font-weight: normal;
    }

    // start emoji content
    ._1UbeR {
        padding-top: 62px;
    }
    ._1UbeR {
        box-sizing: border-box;
        height: 276px;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }
    ._1vDUw {
        position: relative;
    }
    .RLfQR {
        margin-top: -1px;
    }
    .RLfQR {
        position: relative;
        overflow: hidden;
    }
    ._2wP_Y {
        position: absolute;
        width: 100%;
    }
    // end emoji content

    // start emoji container
    ._3mg7h {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
    }
    // end emoji container


    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #ffffff00; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(207, 43, 43, 0.5);
    }