._2vPAk {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    // width: 100;
}
._3rsak {
    left: 0;
}
._3rsak {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}
._1drQ-, html[dir] ._1dGTK, html[dir] .r3Nu1 {
    background-color: #e5e5e5;
}
._2fq0t {
    left: 0;
    background-color: #f7f7f7;
}
._2fq0t {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
}
.copyable-area {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
._3TSht {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
}
.wDFKR {
    padding: 0px 20px 0px 25px;
}
.wDFKR {
    background: rgb(247,132,132);
    background: linear-gradient(90deg, rgba(247,132,132,1) 0%, rgba(249,15,15,1) 0%, rgba(247,132,132,1) 50%, rgb(247, 148, 148) 100%);
}
.wDFKR {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: none;
    flex: none;
    box-sizing: border-box;
    color: #fff;
    height: 49px;
    -webkit-align-items: center;
    align-items: center;
}
.Ghmsz {
    text-align: initial;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: none;
    flex: none;
    width: 100%;
}
.wDFKR .SFEHG {
    width: 48px;
    opacity: .7;
}
.SFEHG {
    -webkit-flex: none;
    flex: none;
}
._1aTxu {
    cursor: pointer;
}
._1aTxu {
    vertical-align: top;
    -webkit-flex: none;
    flex: none;
}
button {
    outline: none;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}
input, button {
    margin: 0;
}
input, button {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Lucida Grande", Arial, "Ubuntu", "Cantarell", "Fira Sans", sans-serif;
}
.wDFKR ._1xGbt {
    margin-top: -4px;
}
._1xGbt {
    margin-top: -3px;
}
.wDFKR ._1xGbt, ._2klhM ._1xGbt {
    font-weight: 500;
}
._1xGbt {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-size: 19px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._3ySAH {
    overflow: hidden;
}
._2sNbV {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    flex: 1;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 2;
}
.NuJ4j {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
._3Mxes {
    left: 0;
}
._3Mxes {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
._2k1om {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    width: 100%;
}
._2k1om .xVBLL {
    left: 20px;
}
._2k1om .xVBLL {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
._2k1om .xVBLL {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
._2k1om ._1a4Ru {
    object-fit: contain;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.IuYNx {
    left: 0;
}
._3E6Ha {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: visible;
}
.IuYNx {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
}
._18KIe {
    margin-bottom: 42px;
}
._18KIe {
    -webkit-flex: none;
    flex: none;
    width: 75%;
    z-index: 100;
}
.TI3qN {
    position: relative;
    word-break: break-word;
}
._7HWvs {
    padding-top: 8px;
    -webkit-transform: translateY(24px);
    transform: translateY(24px);
}
._7HWvs {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s cubic-bezier(0.1, 0.82, 0.25, 1);
}
._2ssn3 {
    position: relative;
    height: 24px;
}
._17XE4 {
    position: absolute;
    width: 100%;
    height: 182px;
    bottom: 100%;
    padding-left: 10px;
    padding-right: 10px;
    left: -10px;
    overflow: hidden;
    pointer-events: none;
}
._1xHCd {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
}
.TSSFW {
    left: 0;
}
.TSSFW {
    position: absolute;
    top: 0;
    width: 100%;
}
._245vA {
    position: absolute;
    top: 0;
    width: 100%;
}
._2Mg6D .CzI8E {
    border-bottom: 2px solid $primary;
}
.CzI8E {
    border-bottom: 1px solid rgba(38, 50, 56, 0.18);
}
.CzI8E {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
._3F6QL {
    padding-right: 0px;
}
._3F6QL {
    position: relative;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
}
._3F6QL ._39LWd {
    left: 2px;
}
._3F6QL ._39LWd {
    color: #a0a0a0;
    font-size: 15px;
    line-height: 20px;
    pointer-events: none;
    position: absolute;
    top: 6px;
    transition: opacity 0.08s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
    z-index: 2;
}
._3F6QL.bsmJe ._2S1VP {
    margin: 8px 0px;
}
._3F6QL ._2S1VP {
    padding: 0;
}
._3F6QL._1ZxJu ._2S1VP {
    max-height: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}
._3F6QL.bsmJe ._2S1VP {
    min-width: 5px;
}
._3F6QL ._2S1VP {
    font-size: 17px;
    line-height: 20px;
    min-height: 20px;
    position: relative;
    width: 100%;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.selectable-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
._3MR8o {
    margin-top: 1px;
}
._3MR8o {
    -webkit-flex: none;
    flex: none;
    position: relative;
}
._3GaI4 {
    float: right;
    margin-right: 4px;
    margin-left: 4px;
}
._3GaI4 {
    padding-bottom: 20px;
}
._3GaI4 {
    position: relative;
    display: inline-block;
    width: 33px;
}
.wTdDG {
    right: 0px;
}
.wTdDG {
    position: absolute;
    top: 6px;
}
button {
    outline: none;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}
input, button {
    margin: 0;
}
input, button {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Lucida Grande", Arial, "Ubuntu", "Cantarell", "Fira Sans", sans-serif;
}
._3GaI4 {
    float: right;
    margin-right: 4px;
    margin-left: 4px;
}
._3GaI4 {
    padding-bottom: 20px;
}
._2IC1c {
    text-align: right;
}
._2IC1c {
    padding-bottom: 0px;
}
._3GaI4 {
    position: relative;
    display: inline-block;
    width: 33px;
}
._2IC1c {
    font-size: 15px;
    position: absolute;
    line-height: 22px;
    width: 25px;
    color: #bbb;
    top: 6px;
}
._2IC1c {
    text-align: right;
}
._2IC1c {
    padding-bottom: 0px;
}
._2IC1c {
    font-size: 15px;
    position: absolute;
    line-height: 22px;
    width: 25px;
    color: #bbb;
    top: 6px;
}
._3nuGo {
    background-color: #f3d9d9;
    padding: 0px 20px;
}
._3nuGo {
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 0 120px;
    flex: 0 0 120px;
    -webkit-justify-content: center;
    justify-content: center;
}
._2gZno {
    margin-right: 8px;
}
._2gZno {
    box-sizing: border-box;
    -webkit-flex: 1;
    flex: 1;
    height: 100px;
    max-width: 100px;
    overflow: hidden;
    position: relative;
}
._2gZno._2UCiX ._2pAE- {
    right: 4px;
}
._2gZno._2UCiX ._2pAE- {
    top: 4px;
}
._2pAE- {
    right: 1px;
    transition: right 75ms ease-out, top 75ms ease-out;
}
._2pAE- {
    opacity: 0;
    position: absolute;
    top: 1px;
    z-index: 100;
}
._2gZno._2UCiX .GpvML {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.GpvML {
    left: 0;
}
.GpvML {
    background-color: #e5e5e5;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: none;
    transform: none;
}
.GpvML {
    height: 100%;
    position: relative;
    top: 0;
    transition: -webkit-transform 75ms ease-out;
    transition: transform 75ms ease-out;
    transition: transform 75ms ease-out, -webkit-transform 75ms ease-out;
    width: 100%;
    z-index: 2;
    object-fit: cover
}
.GpvML::before {
    right: 0px;
    background: linear-gradient(10deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.18) 75%, rgba(0, 0, 0, 0.4) 100%);
}
.GpvML::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0px;
    opacity: 0;
    transition: opacity .1s ease-out;
}
._2gZno._2UCiX .GpvML::after {
    left: 0;
}
._2gZno._2UCiX .GpvML::after {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
}
._2gZno._2UCiX .GpvML::after {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
}
._2gZno::after {
    left: 2px;
    right: 2px;
}
._2gZno::after {
    background-color: #fff;
}
._2gZno._2UCiX::after {
    display: block;
}
._2gZno::after {
    bottom: 2px;
    content: '';
    display: none;
    position: absolute;
    top: 2px;
    z-index: 1;
}
._1ypOz {
    display: -webkit-flex !important;
    display: flex !important;
}
._1ypOz {
    background-color: #fff;
    padding: 10px;
}
._1ypOz {
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    color: #00a5f4;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 0 0 100px;
    flex: 0 0 100px;
    font-size: 12px;
    height: 100px;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 100px;
    text-transform: uppercase;
    transition: -webkit-transform 75ms ease-out;
    transition: transform 75ms ease-out;
    transition: transform 75ms ease-out, -webkit-transform 75ms ease-out;
}
._3nfoJ {
    right: 40px;
}
._3nfoJ {
    margin: 0;
    padding: 0;
    text-align: center;
}
._3nfoJ {
    bottom: 98px;
    opacity: 0;
    position: absolute;
    z-index: 2;
}
._3hV1n {
    background-color: $primary;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    padding: 0;
}
.yavlE {
    width: 60px;
    height: 60px;
}
._3hV1n {
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    -webkit-justify-content: center;
    justify-content: center;
    text-transform: uppercase;
    transition: box-shadow 0.08s cubic-bezier(0.4, 0, 0.2, 1);
    width: 46px;
}
[role="button"] {
    cursor: pointer;
}