._66JgU {
    margin: 0 !important;
    padding-left: 34px;
}
._66JgU {
    background-color: #fff;
    padding-top: 26px;
    padding-bottom: 12px;
}
._3_3Rs {
    padding-left: 2px;
}
._3_3Rs {
    background-color: transparent;
    border: none;
    // border-bottom: 1px solid #d7d7d7;
    padding: 6px 0 5px 0;
}
._3_3Rs {
    padding-bottom: 0;
}
._3_3Rs {
    line-height: 20px;
    font-size: 15px;
    min-height: 20px;
    font-weight: normal;
    outline: none;
    width: 100%;
    transition: border-color .2s ease-out;
}
._3_3Rs {
    position: relative;
}
._3_3Rs {
    max-height: 200px;
    overflow-y: auto;
}

div[data-list-scroll-container] {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

ul, ol {
    padding: 0;
    margin: 0;
}
ol, ul {
    list-style: none;
}

._2EXPL._13iu_ {
    margin-right: 6px;
}
._2EXPL._13iu_ {
    padding: 0;
    margin: 0 0 6px 0;
    background-color: #e8e8e8;
    border-radius: 16px;
    cursor: default;
}
._2EXPL {
    background-color: white;
    cursor: pointer;
}
._2EXPL._13iu_ {
    display: -webkit-inline-flex;
    display: inline-flex;
    vertical-align: top;
    height: auto;
}
._2EXPL {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 72px;
    pointer-events: all;
    position: relative;
}

._2EXPL._13iu_ .dIyEr {
    margin-right: 8px;
}
._2EXPL._13iu_ .dIyEr {
    padding: 0;
}
.dIyEr {
    padding: 0 15px 0 13px;
}
.dIyEr {
    margin-top: -1px;
}
.dIyEr {
    -webkit-flex: none;
    flex: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
._1WliW {
    border-radius: 50%;
    background-color: #dfe5e7;
}
._1WliW {
    position: relative;
    overflow: hidden;
}
.Qgzj8 {
    border-radius: 50%;
}
.Qgzj8.gqwaM {
    opacity: 1;
}
.Qgzj8 {
    display: block;
    opacity: 0;
    position: relative;
    transition: opacity 150ms ease-out;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}

._3ZW2E {
    left: 0;
}
._3ZW2E {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

._3ZW2E svg {
    width: 100%;
    height: 100%;
}
svg {
    display: block;
    pointer-events: none;
}

._2EXPL._13iu_ ._3j7s9 {
    border-top: none !important;
}
._2EXPL._13iu_ ._3j7s9 {
    padding: 0;
}
._3j7s9 {
    padding-right: 15px;
}
._3j7s9 {
    border-top: 1px solid #f2f2f2;
}
._3j7s9 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    min-width: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
._2FBdJ {
    text-align: left;
}
._2FBdJ {
    -webkit-align-items: center;
    align-items: center;
    line-height: normal;
    display: -webkit-flex;
    display: flex;
}
._2EXPL._13iu_ ._25Ooe {
    font-weight: normal !important;
}
._2EXPL._13iu_ ._25Ooe {
    font-size: 13.5px;
    color: #303030;
}
._25Ooe {
    text-align: left;
}
._25Ooe {
    color: black;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    overflow: hidden;
}
._3TEwt {
    display: inherit;
    white-space: inherit;
    text-overflow: inherit;
    overflow: inherit;
}
._1wjpf {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._1yct0 {
    margin-left: 8px;
}
._1yct0 {
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-inline-flex;
    display: inline-flex;
    height: 17px;
    vertical-align: top;
}
._2EXPL._13iu_ ._1AwDx {
    display: none;
}
._1AwDx {
    margin-top: 2px;
}
._1AwDx {
    -webkit-align-items: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    display: -webkit-flex;
    display: flex;
    font-size: 13px;
    line-height: 20px;
    min-height: 20px;
}
._itDl {
    text-align: left;
}
._itDl {
    background-color: transparent;
}
._itDl {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
._3Bxar {
    margin-left: 6px;
}
._3Bxar {
    color: rgba(0, 0, 0, 0.4);
    -webkit-flex: none;
    flex: none;
    font-size: 12px;
    max-width: 100%;
    overflow: hidden;
}

._2EXPL._13iu_ ._3j7s9._15rx8 {
    padding: 0;
}
._2EXPL._13iu_ ._15rx8 {
    font-weight: normal !important;
}
._2EXPL._13iu_ ._3j7s9 {
    border-top: none !important;
}
._2EXPL._13iu_ ._3j7s9 {
    padding: 0;
}
._2EXPL._13iu_ ._15rx8 {
    font-size: 13.5px;
    color: #303030;
}
._15rx8 {
    padding: 0 13px 0 0;
}
._3j7s9 {
    padding-right: 15px;
}
._3j7s9 {
    border-top: 1px solid #f2f2f2;
}
._15rx8 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: center;
    align-self: center;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
._3j7s9 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    min-width: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
._19wVc ._2mAHY {
    margin-left: 6px;
}
._19wVc ._2mAHY {
    &:hover{
        background-color: #fd9a9a;
    }
    padding: 1px;
    margin: 4px;
    border-radius: 50%;
}
._2mAHY {
    -webkit-flex: none;
    flex: none;
}
[role="button"] {
    cursor: pointer;
}